<!doctype html>
<html>
<body>
  <p><a href="{{ url_for('regions') }}">Regions</a></p>
  <p><a href="{{ url_for('instances_by_regions') }}">Instances by Regions</a></p>
  <p><a href="{{ url_for('instances_details') }}">Instances Details</a></p>
</body>
</html>