<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dropdown</title>
</head>
<body>
Choice instance
<form action="{{ url_for('instances_details') }}" method="post">
<select name= instance method="GET" action="/">
    {% for instance in instances %}
    <option value="{{instance}}" SELECTED>{{instance}}</option>"
    {% endfor %}
</select>
<button type="submit" value=value>Get instance info</button>
</form>

{{ instance }}
{{ instances_info }}
</body>
</html>