<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dropdown</title>
</head>
<body>
Choice region
<form action="{{ url_for('instances_by_regions') }}" method="post">
<select name= zone method="GET" action="/">
    {% for region in regions %}
    <option value="{{region}}" SELECTED>{{region}}</option>"
    {% endfor %}
</select>
<button type="submit" value=value>Get Instances</button>
</form>

{{ zone }}
{{ instances }}
</body>
</html>